.example-form {
  min-width: 150px;
  max-width: 500px;
  /* width: 100%; */
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
}

.example-full-width {
  width: 100%;
}

section {
  display: table;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: table-cell;
  width: 490px;
}

.example-button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}

mat-radio-group {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

#status-label, #order-label {
  align-self: flex-start;
  font-size: 18px;
}

button {
  margin-top: 20px;
}